body {
    color: white;
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    padding: 20px;

}

a {
    color: white;
    text-decoration: none;
    font-size: 26px;
    padding: 50px;
}
nav a:hover{
    color: #723172;
}

header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #723172;
}
.center {
    text-align: center;

}
h1 {
    color: #723172;
}
.heading {
    text-align: center;
}
.center1{
    text-align: center;
}

footer img {
    width: 40px;
    height: 40px;
    ;
}
footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 1px;
    font-size: 18px;

}
